@media screen and (min-width:1200px) {
    
.col-1 {
    width: calc( 100% / 12 * 1 );
}
.col-2 {
    width: calc( 100% / 12 * 2 );
}
.col-3 {
    width: calc( 100% / 12 * 3 );
}
.col-4 {
    width: calc( 100% / 12 * 4 );
}
.col-5 {
    width: calc( 100% / 12 * 5 );
}
.col-6 {
    width: calc( 100% / 12 * 6 );
}
.col-7 {
    width: calc( 100% / 12 * 7 );
}
.col-8 {
    width: calc( 100% / 12 * 8 );
}
.col-9 {
    width: calc( 100% / 12 * 9 );
}
.col-10 {
    width: calc( 100% / 12 * 10 );
}
.col-11 {
    width: calc( 100% / 12 * 11 );
}
.col-12 {
    width: calc( 100% / 12 * 12 );
}
.fixed-width {
    width: 1200px;
    margin: auto;
}
[class*="col"] {
    float: left;
    padding: 15px;
}
.btn {
    display: inline-block;
    line-height: 20px;
    padding: 5px 20px;
    border: 1px rgb(151, 121, 66) solid;
    color: rgba(151, 121, 66);
    margin: 25px  0;

}
.btn:hover {
    color: rgb(0, 0, 0);
    border: 1px rgba(0, 0, 0) solid;

}
/* gotop */
#gotop {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
#gotop a {
    color:  rgb(150, 120, 65);
}
#gotop a:hover {
    color: rgb(147, 99, 11);
}
/* nav */
nav {
    height: 80px;
    background-color: rgba(197, 167, 110, 0.3);
    line-height: 60px;
    overflow: hidden;
}
nav .menu {
    display: block;
}
nav .toggler {
    display: none;
}
nav li {
    border: none;
}
nav .col-7 span {
    display: block;
    margin-top: -60px;
}
nav .col-7 span::first-letter {
    content: "";
    display: block;
    padding-top: 2px;
    border-top: 1px solid rgb(0, 0, 0);
}
nav .col-7 a:hover span {
    margin-top: 0px;
}    
nav .menu a {
    color: rgb(12, 5, 5);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}
nav .logo {
    font-size: 25px;
    font-weight: 700;
    float: right;
    padding-right: 40px;
    letter-spacing: 2px;
    position: fixed;
}
nav .col-7 {
    padding-left: 80px;
}
nav .col-7 li {
    float: left;
    padding-right: 40px;
}

nav .col-3 .network {
    display: block;   /* 蓋手機*/
    float: right;  
}
nav .col-3 .network a {
    padding-right: 15px;
    color:  rgba(44, 30, 5, 0.4);
}
nav .col-3 .network a:hover {
    color: rgb(0, 0, 0);
}
/* header */
header .fixed-width {
    position: relative;
    height: 480px;
}
header .content {
    position: absolute;
    display: block;
    width: 700px;
    right: 0px;
    top: 80px;
    text-align: left;  /* 蓋手機*/

}
header h2 {
    font-size: 55px;
}
header .content a {
    display: inline-block;
    margin-left: 5px;
    color: rgba(202, 141, 28, 0.8);
}
header .content a:hover {
    color:  rgba(44, 30, 5, 0.4);
}

/* product */
#product {
    height: 1270px;
    background-color: rgb(255, 255, 255);
}
#product img {
    position: relative;
    z-index: 10;
}
#product .col-4 .mask {
    display: block;
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: 11;
    text-align: center;
    line-height: 360px;
    opacity: 0;
    letter-spacing: 2px;
    transition: all .4s;
    font-size: 1.5em;
}
#product .col-4 a:hover .mask {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(252, 252, 252);
}
/* about me */
#about {
    height: 600px;
    background-color:rgba(197, 167, 110, 0.3);
}
#about h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-size: 2em;

}
#about p {
    color: rgba(0, 0, 0, 0.8);
    text-align: left;   /* 蓋手機*/
    font-size: 1em;
    color: rgb(51, 50, 50);
}
#about i {
    letter-spacing: 5px;
    text-align: left;   /* 蓋手機*/
}
#about .col-4 a {
    color: rgb(151, 121, 66);
}
#about a:hover {
    color:rgba(0, 0, 0, .9);

}
/* started */
#start {
    height: 700px;
    background-color: rgba(151, 121, 66,.7);
}
#start .fixed-width {
    text-align: center;
    padding-top: 200px;
}
#start h2 {
    font-size: 3em;
    letter-spacing: 2px;
    padding: 20px 0;
}
#start .content {
    width: 500px;
    margin: auto;
    color: rgb(51, 50, 50);
}
#start .btn {
    color:rgba(44, 30, 5, 0.4);
    border: 1px rgba(44, 30, 5, 0.6) solid;
    padding: 20px 40px;
    font-size: 1.5em;
}
#start .btn:hover {
    color:rgba(44, 30, 5, 0.9);
    border: 1px rgba(44, 30, 5, 0.8) solid;
    font-size: 1.5em;
}
/* footer */
footer {
    height: 300px;
    padding-top: 150px;
    text-align: center;
}
footer a {
    color: rgba(202, 141, 28, 0.8);
}
footer a:hover {
    color:  rgba(44, 30, 5, 0.9);
}
footer i {
    letter-spacing: 13px;
}
}