*  {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif,"微軟正黑體";
}
.clearfix::after {
    content:"";
    display: block;
    clear:both;
}
/* ↑解除float 父框對子框浮動的影響 */
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,img {
    margin: 0;
    padding: 0;
    border: 0;
}
ul,ol,li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}
.full-width {
    width: 100%;
}
.nopa {
    padding: 0!important;
}

/* 不管哪個媒體都會需要用的 CSS 拉出來寫成一個 */