@media screen and (min-width: 600px) and (max-width: 1200px) {
    .col-1 {
        width: calc( 100% / 12 * 1 );
    }
    .col-2 {
        width: calc( 100% / 12 * 2 );
    }
    .col-3 {
        width: calc( 100% / 12 * 3 );
    }
    .col-4 {
        width: calc( 100% / 12 * 4 );
    }
    .col-5 {
        width: calc( 100% / 12 * 5 );
    }
    .col-6 {
        width: calc( 100% / 12 * 6 );
    }
    .col-7 {
        width: calc( 100% / 12 * 7 );
    }
    .col-8 {
        width: calc( 100% / 12 * 8 );
    }
    .col-9 {
        width: calc( 100% / 12 * 9 );
    }
    .col-10 {
        width: calc( 100% / 12 * 10 );
    }
    .col-11 {
        width: calc( 100% / 12 * 11 );
    }
    .col-12 {
        width: calc( 100% / 12 * 12 );
    }
    .fixed-width {
        width: 600px;
        margin: auto;
    }
    body {
        background-image: url(../images/body_bg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* gotop */
    #gotop {
        float: right;
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: none;
    }
    /* nav */
    nav .fixed-width {
        margin-top: 80px;
        background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
        url(../images/nav_bg.jpg);
        background-repeat: repeat-x;
    
    }
    nav {
        line-height: 80px;
    }
    nav .col-2 a {
        color: rgb(0, 0, 0);
    }
    nav ul li a{
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        nav .col-2 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
    }
    nav h2 {
        height: 58px;
    }
    nav .col-2::after {
        content: "";
        display: block;
        width: 15px;
        background-color:  rgb(235, 32, 93);
        margin-left: 290px;
        padding: 3px;
        
    }
    nav .col-10 ul li {
        padding-right: 30px;
        display: inline-block;
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        nav .col-10 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
    
    /* header */
    header .fixed-width {
        height: 450px;
        background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
        url(../images/nav_bg.jpg);
        line-height: 500px;
        text-align: center;
    }
    header img {
        width: 150px;
        height: 150px;
    }
    /* down */
    #down .fixed-width {
        height: 80px;
        background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
        url(../images/nav_bg.jpg);
        text-align: center;
        color: rgb(235, 32, 93);
    }
    /* story */
    #story .fixed-width {
        background-color: rgba(235, 234, 233,.9);
    }
    #story .col-5 {
        text-align: center;
        padding: 0 80px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        #story .col-5 {
            width: calc(100% / 12 * 12 );
        }
        #story .col-7 {
            width: calc(100% / 12 * 12 );
        }
    }
    #story h2 {
        margin-bottom: 10px;
    }
    #story h2::after {
        content: "";
        width: 20px;
        display: block;
        text-align: center;
        background-color: rgb(235, 32, 93);
        padding: 3px;
        margin: auto;
        margin-top: 20px;
    }
    #story p {
        padding-bottom: 10px;
    }
    #story a {
        color: rgb(235, 32, 93);
        text-decoration: underline;
    }
    /* fresh */
    #fresh .fixed-width {
        background-color: rgba(235, 234, 233,.9);
    }
    #fresh .fixed-width::after {
        content: "";
        display: block;
        background-color: rgb(0, 0, 0);
        width: 570px;
        height: 1px;
        margin-top: 60px;
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        #fresh .col-8 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
        #fresh .col-4 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
    }
    #fresh .col-4 {
        text-align: center;
        padding: 0 60px;
        padding-top: 60px;
    }
    #fresh .col-4 img {
        width: 150px;
        height: auto;
        padding-bottom: 20px;
    }
    #fresh h2 {
        margin-bottom: 10px;
        font-size: 2em;
    }
    #fresh h2::after {
        content: "";
        width: 20px;
        display: block;
        background-color: rgb(235, 32, 93);
        padding: 3px;
        margin: auto;
        margin-top: 20px;
    }
    #fresh p {
        padding-bottom: 10px;
    }
    #fresh a {
        color: rgb(235, 32, 93);
        text-decoration: underline;
    }
    /* local */
    #local .fixed-width {
        background-color: rgba(235, 234, 233,.9);
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        #local .col-5 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
        #local .col-7 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
    }
    #local .col-5 {
        text-align: center;
        padding: 0 60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #local .col-5 img {
        width: 130px;
        height: auto;
        padding-bottom: 20px;
    }
    #local h3 {
        margin-bottom: 40px;
        font-size: 2em;
    }
    #local h3::after {
        content: "";
        width: 20px;
        display: block;
        background-color: rgb(235, 32, 93);
        padding: 3px;
        margin: auto;
        margin-top: 20px;
    }
    #local p {
        padding-bottom: 10px;
    }
    #local a {
        color: rgb(235, 32, 93);
        text-decoration: underline;
    }
    /* picture */
    #pictures .images img {
        position: relative;
        z-index: 998;
    }
    #pictures .images .mask {
        display: block;
        width: 600px;
        height: 359px;
        position: absolute;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.178);
        z-index: 9999;
        text-align: center;
        line-height: 376px;
        font-size: 2em;
    }
    /* contact */
    #contact .fixed-width {
        height: 380px;
        background-color:  rgba(235, 234, 233,.9);
    }
    #contact .col-7 {
        padding-top: 80px;
    }
    @media screen and (min-width:600px) and (max-width:1200px) {
        #contact .col-7 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
        #contact .col-5 {
            width: calc( 100% / 12 * 12 );
            text-align: center;
        }
    }
    #contact h1 {
        padding-bottom: 30px;
        font-size: 1.8em;
    }
    #contact h1::after {
        content: "";
        width: 20px;
        display: block;
        background-color: rgb(235, 32, 93);
        padding: 3px;
        margin: auto;
        margin-top: 20px;
    }
    #contact p {
        padding-bottom: 20px;
    }
    #contact .phone{
        padding-bottom: 10px;
    }
    #contact .mail {
        padding-bottom: 10px;
    }
    #contact i {
        padding-right: 10px;
    }
    #contact .col-5 {
        padding-top: 40px;
    }
    #contact .col-5 a {
        color: rgba(0, 0, 0, 0.671);
        padding-right: 10px;
        margin-bottom: 60px;
        text-align: center;
    }
    /* footer */
    footer .col-12 {
        height: 90px;
    }
}